[Desktop Entry]
Name=Proton VPN
Exec=protonvpn-app --start-minimized
Terminal=false
Type=Application
Icon=proton-vpn-logo
StartupWMClass=protonvpn-app
Comment=Proton VPN GUI client
Categories=Network;
X-GNOME-Autostart-enabled=true
